body{
    background-color: black;
}
.to-do-list{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
    text-align: center;

}

h1{
    color: white;
    font-size: 3em;
}
button{
    font-size: 1.7rem;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.add-button{
    background-color: hsl(120, 100%, 25%);
}
.add-button:hover{
    background-color: hsl(120, 100%, 35%);
}
.delete-button{
    background-color: hsl(0, 100%, 50%);
}
.delete-button:hover{
    background-color: hsl(0, 100%, 60%);
}
.move-button{
    background-color: hsl(247, 100%, 50%);
}
.move-button:hover{
    background-color: hsl(247, 100%, 60%);
}
input[type="text"]{
    font-size: 1.5em;
    padding: 10px;
    border: 3px solid hsl(0, 0%, 80%, 0.5);
    border-radius: 5px;
    color: hsl(0, 0%, 0%, 0.5);
}
ol{
    padding: 0;
}
li{
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: hsl(0, 0%, 97%);
    margin-bottom: 10px;
    border: 3px solid hsl(0, 0%, 85%, 0.5);
    border-radius: 5px;
    align-items: center;
    display: flex;
}
.text{
    flex: 1;
}
.delete-button, .move-button{
    margin-left: 10px;
}